/*START: FOOTER STYLES*/
.footer {
  background: url("/assets/img/footer-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 0 0;
  color: #fff;
  border-top: 15px solid #3e4f6b;
  .footer-heading {
    color: #fff;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 600;
  }
  .footer-button {
    background: transparent;
    border: 1px solid #ffff;
    border-radius: 0px;
    color: #ffff;
    padding: 2px !important;
    &:hover,
    &:active,
    &:focus {
      background: transparent;
      color: #fff;
      border: 1px solid transparent;
    }
  }
  .common-control {
    background: #2a3444;
    border: 1px solid #2a3444;
    border-radius: 0px;
  }
  .number-field{
    min-width:410px;
  }

  .common-list {
    .list-inline-item {
      .fb {
        padding: 5px;
        font-size: 25px;
        color: #dddd;
        transition: 0.9sec;
        &:hover,
        &:active,
        &:focus {
          cursor: pointer;
          color: #3a559f;
          transform: scale(1.2);
        }
      }
      .tw {
        padding: 5px;
        font-size: 25px;
        color: #dddd;
        transition: 0.9sec;
        &:hover,
        &:active,
        &:focus {
          cursor: pointer;
          color: #00aced;
          transform: scale(1.2);
        }
      }
      .inst {
        padding: 5px;
        font-size: 25px;
        color: #dddd;
        transition: 0.9sec;
        &:hover,
        &:active,
        &:focus {
          cursor: pointer;
          //color: #3f729b;
          transform: scale(1.1);
          background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        }
      }
    }
  }
  .footer-list {
    li {
      margin-bottom: 10px;
    }
    a {
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      transition: all 0.5s ease-in-out;
      &:hover,
      &:active,
      &:focus {
        color: #ced2da;
        margin-left: 5px;
      }
    }
  }
  .app-img {
    height: 35px;
    transition: 0.5s;
    &:hover{
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  .qr-code {
    width: 100px;
    cursor: pointer;
  }

  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 5px;
    font-size: 12px;
    border-radius: 0px;
  }

}
/*END: FOOTER STYLES*/

/*START: SUB-FOOTER STYLES*/
.sub-footer {
  padding: 10px 0;
  .list-inline {
    p {
      margin-bottom: 0px;
    }
    img {
      height: 18px;
      transition: 0.5s;
      &:hover{
        transform: scale(1.3);
        cursor: pointer;
      }
    }
  }
}
/*END: SUB-FOOTER CUSTOM STYLES*/

/*START: MEDIA QUERIES*/
@media (min-width: 992px) and (max-width: 1199px){
.number-field{
  min-width:329px !important;
}
#mat-edited {
  .set-border {
  width: 300px !important;
  } 
}
.footer{
  .app-img{
    width: 101px;
  }
}
}
@media (min-width: 768px) and (max-width: 991px){
  .number-field{
    min-width:210px !important;
  }
  #mat-edited {
    .set-border {
    width: 210px !important;
    } 
    .set-border1{
      width: 155px !important;
    }
  }
  .footer{
    .app-img{
      width: 71px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .footer {
    .common-control {
      width: 70px;
    }
    .number-field{
      min-width:143px !important;
    }
    #mat-edited {
      .set-border {
      width: 360px !important;
      } 
    }
  }
}
@media (min-width: 481px) and (max-width: 575px){
  .number-field{
      min-width:320px !important;
  }
  #mat-edited {
    .set-border {
    width: 300px !important;
    } 
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  
  .number-field{
    min-width:168px!important;
  }
}
/*END: MEDIA QUERIES*/

