.chat-section {
  overflow: hidden;
  padding-top: 3.8rem;
  height:100vh;
  .chat-scroll {
    border-bottom: 1px solid #ddd;
    height: calc(100vh - 4rem) ;
    overflow-y: scroll;
    .common-block {
      padding: 5px;
      border-bottom: 1px solid #edf0f7;
      .custom-select {
        border: none;
        width: 180px;
        font-size: 16px;
        font-weight: 700;
        margin: 5px 0px;
        &:focus {
          box-shadow: none !important;
        }
      }
      .list-inline {
        margin: 5px;
      }
      .btn-primary {
        padding: 5px;
        font-size: 12px;
        background: #d2232a;
        border-color: #d2232a;
        &:focus {
          box-shadow: none;
        }
        &:hover {
          cursor: pointer;
          background: transparent;
          border: 1px solid #d2232a;
          color: #d2232a;
        }
      }
      .media {
        .user-img {
          height: 45px;
        }
        .text-time {
          font-size: 12px;
          text-align: center;
          margin-bottom: 0px;
        }
        .product-img {
          width: 48px;
          height: 48px;
          border-radius: 4px;
          border: 1px solid #8f939c;
        }
        .media-body {
          .text-content {
            font-size: 14px;
            font-weight: 600;
            overflow: hidden;
            //height: 50px;
          }
          .text-muted {
            font-size: 14px;
          }
          .media-content {
            font-size: 14px;
            //height: 120px;
            overflow: hidden;
            margin-bottom: 0px;
            .btn-success {
              padding: 5px;
              font-size: 10px;
              border-radius: 0px;
            }
          }
        }
      }
    }
  }
}
.description-block {
  padding: 10px;
  //border-bottom: 1px solid #ddd;
  .media {
    p {
      font-size: 16px;
  }
    .textbold{
      font-weight: 600;
    }
    .user-img {
        height: 45px;
    }
    .text-time {
        font-size: 12px;
        text-align: center;
        margin-bottom: 0px;
    }
    .product-img {
        width: 82px;
        height: 82px;
    }
    .chat-date{
      font-size:10px;
      font-weight: 100;
    }
    .media-style{
      padding: 15px;
      background: #fff;
      border-radius: 15px;
      width:50%;
    }
    .media-body {
        .text-content {
            font-size: 16px;
            font-weight: 100;
            overflow: hidden;
        }
        .text-muted {
            font-size: 14px;
        }
        .media-content {
            font-size: 14px;
            margin-bottom: 0px;
            .btn-success {
                padding: 5px;
                font-size: 10px;
                border-radius: 0px;
            }
        }
      
    }
    .media-right {
      padding: 17px;
      background: #ccedff;
      border-radius: 15px;
      .text-content {
          font-size: 16px;
          font-weight: 100;
          overflow: hidden;
      }
      .text-muted {
          font-size: 14px;
      }
      .media-content {
          font-size: 14px;
          margin-bottom: 0px;
          .btn-success {
              padding: 5px;
              font-size: 10px;
              border-radius: 0px;
          }
      }
    
  }
}
  .chat-right {
    position: relative;
    float: right;
    bottom: 33px;
  }
  .dropdown-menu.show {
    top: 0px !important;
    left: -130px !important;
  }
  .dropdown-item {
    font-size: 13px !important;
    &:hover {
      cursor: pointer;
    }
    &:active {
      background-color: #f8f9fa !important;
      color: #000;
    }
  }
  .dropdown-toggle::after {
    border: none !important;
  }
  .btn-icon-style {
    background: transparent !important;
    border: none !important;
    &:focus {
      outline: 0 !important;
      box-shadow: none;
    }
    &:active {
    }
  }
  h6 {
    font-weight: 600;
  }
  p {
    font-size: 13px;
  }
  .btn-success {
    padding: 5px;
    font-size: 10px;
    border-radius: 0px;
  }
}
.product-block{
  padding: 5px;
  border-top:1px solid #edf0f7;
  border-bottom:1px solid #edf0f7;
  box-shadow: 0 4px 4px #0000003b;
  .media {
    p {
      font-size: 16px;
    }
    .btn-pdt{
      padding: 6px 18px;
      font-size: 14px;
    }
    .prd-rt{
      p{
      font-size:14px !important;
      }
    }
    .textbold {
      font-weight: 600;
    }
    .user-img {
      height: 45px;
    }
    .text-time {
      font-size: 12px;
      text-align: center;
      margin-bottom: 0px;
    }
    .product-img {
      width: 56px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid #8f939c;
    }
    .chat-date {
      font-size: 10px;
      font-weight: 100;
    }
    .media-style {
      padding: 15px;
      background: #fff;
      border-radius: 15px;
      width: 50%;
    }
    .media-body {
      .text-content {
        font-size: 16px;
        font-weight: 100;
        overflow: hidden;
      }
      .text-muted {
        font-size: 14px;
      }
      .media-content {
        font-size: 14px;
        margin-bottom: 0px;
        .btn-success {
          padding: 5px;
          font-size: 10px;
          border-radius: 0px;
        }
      }
    }
    .media-right {
      padding: 17px;
      background: #ccedff;
      border-radius: 15px;
      .text-content {
        font-size: 16px;
        font-weight: 100;
        overflow: hidden;
      }
      .text-muted {
        font-size: 14px;
      }
      .media-content {
        font-size: 14px;
        margin-bottom: 0px;
        .btn-success {
          padding: 5px;
          font-size: 10px;
          border-radius: 0px;
        }
      }
    }
  }
}
.for-scroll {
  padding-top: 185px !important;
  transition: 0.2s ease-in-out !important;
}
.ct-mg {
  margin-top: -9px;
}
.input-group-text {
  background: #fff;
  border-top: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
}
.form-control {
  @extend .input-group-text;
  &:focus {
    text-decoration: none;
    box-shadow: none;
  }
}
.chat-type {
  bottom: 0;
}
.icon-display {
  display: inline;
}
.scroll-chat {
  //padding: 0px !important;
  height: calc(100vh - 14.5rem);
  overflow-y: scroll;
  width: 100%;
  background: #dddddd3d;
}
//21-2-2019
.chat-profile {
  border-bottom: 2px solid #dee1e67d;
  .media-heading {
    font-size: 14px;
    font-weight: 600;
  }
  p {
    font-size: 12px;
  }
  .chat-icon {
    font-size: 15px;
  }
}
/*START : CHAT COLOR*/
.b-block {
  .common-block:hover {
    background-color: #ffc9c9 !important;
  }
}
.b-block {
  .common-block:active {
    background-color: #ffc9c9;
  }
}
.active-chat {
  background-color: #e9f5fd !important;
}
.fa-circle {
  color: #d22a2a;
}
.online {
  color: #25d366;
}
/*END : CHAT COLOR*/
/*START : MEDIA QUERIES*/

/*END : MEDIA QUERIES*/