<!--  -->
<div class="category-background">
  <section class="pad-25 category-list">
    <div class="category-head">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a routerLink="/">
                    <i class="fa fa-home mr-2"></i>Home</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  <a routerLink="/category-list">Category Listing</a>
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-sm-6">
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2 pr-0 ">
          <div class="sidebar-custom" id="filter-set">
            <ngb-accordion #acc="ngbAccordion"
              activeIds="ngb-panel-0,ngb-panel-1,ngb-panel-2,ngb-panel-3,ngb-panel-4,ngb-panel-5,ngb-panel-6">
              <ngb-panel title="" id="ngb-panel-0">
                <ng-template ngbPanelTitle>
                  <h5 class="text-uppercase">SORT</h5>
                </ng-template>
                <ng-template ngbPanelContent>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <mat-radio-group labelPosition="before">
                        <mat-radio-button value="1">Popular</mat-radio-button>
                        <mat-radio-button value="2">Recent </mat-radio-button>
                      </mat-radio-group>
                    </li>
                    <li class="list-group-item">
                      <mat-radio-group labelPosition="before">
                        <mat-radio-button value="1">Price - Low To High</mat-radio-button>
                        <mat-radio-button value="2">Price - High To Low </mat-radio-button>
                      </mat-radio-group>
                    </li>
                    <li class="list-group-item">
                      <mat-radio-group labelPosition="before">
                        <mat-radio-button value="1">Reg Year - Latest</mat-radio-button>
                      </mat-radio-group>
                    </li>
                  </ul>
                </ng-template>
              </ngb-panel>
              <!-- <ngb-panel id="ngb-panel-1">
                <ng-template ngbPanelTitle>
                  <h5 class="text-uppercase">DEPRECIATION</h5>
                </ng-template>
                <ng-template ngbPanelContent>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <label class="form-check-label mr-1" for="">Car Type</label>
                      <input type="radio" aria-label="">
                    </li>
                    <li class="list-group-item">
                      <label class="form-check-label mr-1" for="">Options</label>
                      <input type="radio" aria-label="">
                    </li>
                  </ul>
                </ng-template>
              </ngb-panel> -->
              <ngb-panel id="ngb-panel-2">
                <ng-template ngbPanelTitle>
                  <h5 class="text-uppercase">PRICE</h5>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="mat-width-ctm">
                        <input matInput type="number" placeholder="Min">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6 p-0">
                      <mat-form-field class="mat-width-ctm">
                        <input matInput type="number" placeholder="Max">
                      </mat-form-field>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              <ngb-panel id="ngb-panel-3">
                <ng-template ngbPanelTitle>
                  <h5 class="text-uppercase">By Name</h5>
                </ng-template>
                <ng-template ngbPanelContent>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <mat-form-field class="mat-width-ctm2">
                        <input matInput type="text" placeholder="search here" [(ngModel)]="searchTerm">
                      </mat-form-field>
                    </li>
                  </ul>
                </ng-template>
              </ngb-panel>
              <!-- <ngb-panel id="ngb-panel-4">
                <ng-template ngbPanelTitle>
                  <h5 class="text-uppercase">INSTALLMENT</h5>
                </ng-template>
                <ng-template ngbPanelContent>
                  <form class="for-pad">
                    <select class="custom-select set-control" id="inputGroupSelect01">
                      <option selected>Min Instalment</option>
                    </select>
                  </form>
                  <form class="for-pad">
                    <select class="custom-select set-control" id="inputGroupSelect01">
                      <option selected>Max Instalment</option>
                    </select>
                  </form>
                </ng-template>
              </ngb-panel> -->
              <!-- <ngb-panel id="ngb-panel-5">
                <ng-template ngbPanelTitle>
                  <h5 class="text-uppercase">REG. YEAR</h5>
                </ng-template>
                <ng-template ngbPanelContent>
                  <form class="for-pad">
                    <select class="custom-select set-control" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      <option value="1">2018</option>
                      <option value="1">2016</option>
                      <option value="1">2015</option>
                      <option value="2">2014</option>
                      <option value="3">2013</option>
                      <option value="3">2012</option>
                      <option value="3">2011</option>
                      <option value="3">2010</option>
                    </select>
                  </form>
                </ng-template>
              </ngb-panel> -->
              <!-- <ngb-panel id="ngb-panel-6">
                <ng-template ngbPanelTitle>
                  <h5 class="text-uppercase">MILEAGE</h5>
                </ng-template>
                <ng-template ngbPanelContent>
                  <form class="for-pad">
                    <select class="custom-select set-control" id="inputGroupSelect01">
                      <option selected>Min Milage</option>
                      <option value="1">200 km</option>
                      <option value="1">300 km</option>
                    </select>
                  </form>
                  <form class="for-pad">
                    <select class="custom-select set-control" id="inputGroupSelect01">
                      <option selected>Max Milage</option>
                      <option value="1">3600 km</option>
                      <option value="1">4567 km</option>
                    </select>
                  </form>
                </ng-template>
              </ngb-panel> -->
            </ngb-accordion>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card set-pad">
            <div class="card-body p-2">
              <!--  -->
              <div class="for-space pt-3">
                <div class="row">
                  <div class="col-md-6">

                  </div>
                  <div class="col-md-3 text-right">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-primary active btn-sm" routerLink="/category-list">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked>
                        <i class="fa fa-th mr-1"></i> List
                      </label>
                      <label class="btn btn-primary btn-sm" routerLink="/category-map/cat1">
                        <input type="radio" name="options" id="option2" autocomplete="off">
                        <i class="fa fa-map mr-1"></i> Map
                      </label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <select class="form-control set-control">
                      <option selected>Popular</option>
                      <option value="1">Recent</option>
                      <option value="2">Price High - Low</option>
                      <option value="3">Price Low - High</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row product-data">
                <!-- | paginate: { id: 'foo', itemsPerPage: pageSize,currentPage: p, totalItems: total }" -->
                <div class="col-md-3 col-sm-6 col-mob1 col-mob for-pad"
                  *ngFor="let data of productlist | grdFilter:searchTerm">
                  <div class="card" routerLink="/category-detail/{{data.productPostingID}}">
                    <div class="image hovereffect">
                      <span class="badge badge-pill badge-danger ml-2 thunder-badge">
                        <i class="fa fa-bolt mr-2"></i>
                        {{data.productThunder}}</span>
                      <span class="badge badge-secondary">
                        <i class="fa fa-heart set-hov"></i>
                        {{data.productLikes}}
                      </span>
                      <img class="card-img-top" src="{{data.coverimage}}" alt="Card image cap">
                    </div>
                    <div class="user-img">
                      <img src="./assets/img/user-img.png" class="item">
                    </div>
                    <div class="card-body">
                      <ul class="list-inline set-inline mb-2">
                        <h6 class="heading">{{data.productTitle}}</h6>
                        <h6 class="make m-0"> {{data.productName}}</h6>
                        <h6 class="make m-0"><i class="fa fa-usd mr-1"></i>{{data.productCost}}</h6>
                        <p class="description">{{data.productDescription}}</p>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3" *ngIf="ShowImage">
                <img src="./assets/img/user-img.png" class="item">
              </div>
              <div class="custom-pagination m-4">
                <div class="row justify-content-md-center">
                  <div class="col-md-auto">
                    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                    <!-- <button type="button" class="btn btn-outline-secondary btn-left btn-sm deft-btn mr-4">Prev</button>
                    <button type="button" class="btn btn-outline-primary btn-left btn-sm deft-btn">Next</button> -->
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!--  -->