.sigin-banner {
	padding: 150px 0px;
	// background: url("/assets/img/mainbanner2.png");
	background-image: linear-gradient(to right, #f14344 0%, #f14344 19%, #f14344 60%, #f14344 100%);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	padding: 150px 0 50px;
	.login-signup {
		.set-control {
			padding: 5px;
			border-radius: 0px;
		}
		.form-check {
			position: relative;
			display: block;
			padding-left: 1.25rem;
			bottom: 5px;
		}
		.set-value {
			margin: 5px;
		}
		.bt-submit {
			padding: 5px;
			border-radius: 0px;
			background: #f8191a;
			border: none;
			margin-top: 15px;
			&:hover,
			:active,
			:focus {
				background: #f8191a;
				box-shadow: none;
				border: none;
			}
		}
		.form-check-input {
			position: absolute;
			margin-top: 6.5px;
			margin-left: -1.25rem;
		}
		.form-check-label {
			font-size: 12px;
			font-weight: 400;
		}

		.bt-gog {
			background-color: #f6453d;
			padding: 5px;
			font-size: 14px;
			font-weight: 600;
			border-radius: 0px;
			border: none !important;
			&:hover,
			:active,
			:focus {
				background-color: #f6453d;
				box-shadow: none !important;
			}
		}

		.footer-section{
			.list-unstyled {
				list-style: none;
				font-size: 14px;
			}
			a {
				color: #f8191a;
				text-align: center;
			}
		}
	}
}