<section class="chat-section b-cs" [ngClass]="{'for-scroll': isScrolled}">
  <div class="row">
    <div class="col-md-4 pr-0">
      <div class="chat-scroll">
        <div class="common-block">
          <select class="custom-select">
            <option selected>Inbox</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="common-block">
          <ul class="list-inline">
            <li class="list-inline-item">
              <button type="button" class="btn btn-primary btn-sm text-capitalize"> All Messages </button>
            </li>
            <li class="list-inline-item">
              <button type="button" class="btn btn-primary btn-sm text-capitalize"> Buying </button>
            </li>
            <li class="list-inline-item">
              <button type="button" class="btn btn-primary btn-sm text-capitalize"> Selling </button>
            </li>
          </ul>
        </div>
        <div class="block b-block" *ngFor="let userchat of userchats">
          <div class="common-block" *ngFor="let userDetails of userchat.user">
            <div class="media" (click)="getUserChats(userchat._id,userDetails.username)">
              <img class="mr-3 user-img" src="assets/img/user-img.png" alt="">
              <div class="media-body">
                <span class="mt-0 text-muted text-capitalize">{{ userDetails.username }}</span>
                <div class="media-content">
                  <h6 class="mt-0 mb-0 text-content text-capitalize">{{ userDetails.product.productTitle}}</h6>
                  <p class="mb-2"> Whatsapp {{ userDetails.mobile }}</p>
                  <p class="text-muted">Product Cost ${{ userDetails.product.productCost }}</p>
                </div>
              </div>
              <div class="ml-3">
                <p class="text-time">1 hour ago</p>
                <img class="product-img" src="assets/img/car010.png" alt="Generic placeholder image">
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="common-block">
            <div class="media">
              <img class="mr-3 user-img" src="assets/img/user-img.png" alt="">
              <div class="media-body">
                <span class="mt-0 text-muted text-capitalize">Newsinfo technology</span>
                <div class="media-content">
                    <h6 class="mt-0 mb-0 text-content text-capitalize">we develop software erp, crm and ecommerce sites we develop software erp, crm and ecommerce sites</h6>
                 <p class="mb-2"> Whatsapp 8976546787</p>
                  <p class="text-muted"><button class="btn btn-sm btn-success m-1 text-uppercase">accepted</button>You Offered $12,364</p>
                </div>
              </div>
              <div class="ml-3">
                <p class="text-time">2 hour ago</p>
              <img class="product-img" src="assets/img/car09.png" alt="Generic placeholder image">
            </div>
            </div>
          </div> -->
      </div>
    </div>
    <div class="col-md-8 pl-0">
      <div>
        <div class="description-block">
          <div class="text-center ">
            <h6 class="text-capitalize mb-0">{{ user }}</h6>
            <p class="text-muted mb-0">{{ userStatus }}</p>
            <div class="d-inline-block chat-right" ngbDropdown #myDrop="ngbDropdown">
              <button class="btn btn-icon-style" id="dropdownManual" ngbDropdownToggle><i
                  class="fa fa-ellipsis-h fa-lg"></i></button>
              <ul ngbDropdownMenu aria-labelledby="dropdownManual">
                <li class="dropdown-item"><i class="fa fa-archive mr-3"></i> Archive </li>
                <li class="dropdown-item" (click)="modalLogin(content)"><i class="fa fa-trash mr-3"></i> Delete Chat
                </li>
                <ng-template #content let-modal>
                  <div class="modal-header p-2">
                    <h4 class="modal-title text-center">Are you sure, you want to delete chat?</h4>
                    <button type="button" class="close m-0 p-0" aria-label="Close"
                      (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-danger">Delete</button>
                    <button class="btn btn-primary">Cancel</button>
                  </div>
                </ng-template>
                <li class="dropdown-item"><i class="fa fa-ban mr-3"></i> Block User</li>
                <li class="dropdown-item"><i class="fa fa-flag mr-3"></i> Report User</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <div class="description-block">
    <div class="media">
        <img class="mr-3 user-img" src="assets/img/car010.png" alt="">
        <div class="media-body">
          <div class="media-content">
              <h6 class="mt-0 mb-0 text-content text-capitalize">we develop software erp, crm and ecommerce sites</h6>
            <p class="text-muted mb-0"><button class="btn btn-sm btn-success m-1 text-uppercase">accepted</button>You Offered $12,364</p>
          </div>
        </div>
        <div class="ml-3">
          <p class="text-right mb-0">Your Offer: <span class="textbold">$9,364</span></p>
          <button class="btn btn-md btn-danger mr-2">cancel</button>
          <button class="btn btn-md btn-info mr-2">edit</button>
          <button class="btn btn-md btn-primary">feedback</button>
      </div>
      </div>
  </div> -->
      </div>
      <div>
        <div class="scroll-chat">
          <div class="p-3">
            <div class="media chat-profile">
              <div class="media-left">
                <img src="./assets/img/user-img.png" class="media-object" style="width:60px">
              </div>
              <div class="media-body ml-3">
                <h5 class="media-heading">Welcome, {{ user }}</h5>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Woodlands, Singapore</p>
                <h4 class="chat-icon mb-2"><i class="fa fa-smile-o" aria-hidden="true"></i> 3 <i class="fa fa-meh-o"
                    aria-hidden="true"></i> 0 <i class="fa fa-frown-o" aria-hidden="true"></i> 0 <i
                    class="fa fa-chevron-right" aria-hidden="true"></i></h4>
              </div>
            </div>
          </div>
          <div class="description-block" *ngFor="let message of messages">
            <div class="media" *ngIf="message.sender == loggedInUser">
              <div class="media-body">
                <!-- <img class="mr-3 user-img" src="assets/img/car010.png" alt=""> -->

                <!-- <p class="mb-0"><i class="fa fa-map-marker" aria-hidden="true"></i> singapore</p>
            <p class="mb-0"><i class="fa fa-comment"></i> very responsive</p>
            <p><img src="./assets/img/smile.png"><span class="badge badge-pill"> 93</span>
              <img src="./assets/img/negative.png"><span class="badge badge-pill "> 0</span>
              <img src="./assets/img/neutral.png"><span class="badge badge-pill "> 0</span>
              <i class="fa fa-chevron-right"></i>
            </p> -->

              </div>
              <div class="media-right">
                <!-- <h6 class="mt-0 mb-0 text-content text-capitalize">{{ message.sender }}</h6> -->
                <h5 class="mt-0 mb-0 text-content text-capitalize">{{ message.message }}</h5>
                <div class="pull-right">
                  <h6 class="mt-0 mb-0 chat-date text-capitalize" *ngIf="message.status == 'read'"><i class="fa fa-check text-success" aria-hidden="true"></i> {{ message.DateTime| date:'short' }}</h6>
                  <h6 class="mt-0 mb-0 chat-date text-capitalize" *ngIf="message.status == 'unread'"><i class="fa fa-check" aria-hidden="true"></i> {{ message.DateTime| date:'short' }}</h6>
                </div>
              </div>
            </div>
            <div class="media" *ngIf="message.sender != loggedInUser">
              <img class="mr-3 user-img rounded-circle" src="assets/img/car010.png" alt="">
              <div class="media-body">
                <div class="media-content media-style">
                  <h6 class="mt-0 mb-0 text-content text-capitalize">{{ message.sender }}</h6>
                  <h5 class="mt-0 mb-0 text-content text-capitalize">{{ message.message }}</h5>
                  <div class="pull-right ">
                    <h6 class="mt-0 mb-0 chat-date text-capitalize" *ngIf="message.status == 'read'"> {{ message.DateTime| date:'short' }}</h6>
                    <h6 class="mt-0 mb-0 chat-date text-capitalize" *ngIf="message.status == 'unread'"> {{ message.DateTime| date:'short' }}</h6>
                    <h6 class="mt-0 mb-0 chat-date text-capitalize"></h6>
                  </div>
                  <!-- <p class="mb-0"><i class="fa fa-map-marker" aria-hidden="true"></i> singapore</p>
              <p class="mb-0"><i class="fa fa-comment"></i> very responsive</p>
              <p><img src="./assets/img/smile.png"><span class="badge badge-pill"> 93</span>
                <img src="./assets/img/negative.png"><span class="badge badge-pill "> 0</span>
                <img src="./assets/img/neutral.png"><span class="badge badge-pill "> 0</span>
                <i class="fa fa-chevron-right"></i>
              </p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="chat-type">
        <form [formGroup]="chatForm" (ngSubmit)="onSubmit()" class="form-horizontal">
          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-image"></i></span>
            </div>
            <input type="text" formControlName="chatMessage" class="form-control"
              aria-label="Amount (to the nearest dollar)" placeholder="Type a message...">
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary btn-sm">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
