<section class="setting-page">
  <div class="container">
    <div class="set-margin" id="setting-tab">
      <ngb-tabset class="mb-3">
        <ngb-tab title="Edit Profile">
          <ng-template ngbTabContent>
            <div class="common-form">
              <h5 class="text-uppercase text-profile text-center m-3">edit profile</h5>
              <div class="set-profile">
                <label class="hoverable" for="fileInput">
                  <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"
                    class="set-img">
                    <div class="background-hover text-center">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </div>
                 </label>
                <input id="fileInput" type='file' (change)="onSelectFile($event)" class="custom-file-input">
              </div>
              <div class="mb-2">
                <h6 class="text-uppercase">public profile</h6>
                <form class="form-border">
                  <div class="form-group form-custom">
                    <mat-form-field class="example-full-width set-border">
                      <input matInput placeholder="Enter Your Username" error-set>
                    </mat-form-field>
                  </div>
                  <div class="form-group form-custom">
                    <mat-form-field class="example-full-width set-border">
                      <input matInput placeholder="Enter Your Firstname" error-set>
                    </mat-form-field>
                  </div>
                  <div class="form-group form-custom">
                    <mat-form-field class="example-full-width set-border">
                      <input matInput placeholder="Enter Your Lastname" error-set>
                    </mat-form-field>
                  </div>
                  <div class="form-group form-custom">
                    <mat-form-field class="example-full-width set-border">
                      <input matInput placeholder="Enter Your Website" error-set>
                    </mat-form-field>
                  </div>
                  <div class="form-group form-custom">
                    <mat-form-field class="example-full-width set-border">
                      <input matInput placeholder="Tell About Yourself" error-set>
                    </mat-form-field>
                  </div>
                </form>
              </div>
              <div class="mb-2">
                <h6 class="text-uppercase">location</h6>
                <form class="form-border">
                  <div class="form-group form-custom">
                    <!--  -->
               
                    <!--  -->
                    <mat-form-field class="example-full-width set-border">
                      <mat-select required>
                        <mat-option>-- None --</mat-option>
                        <mat-option value="option">Option</mat-option>
                      </mat-select>
                      <mat-label><b> Country</b></mat-label>
                    </mat-form-field>
                  </div>
                  <div class="form-group form-custom">
                    <mat-form-field class="example-full-width set-border">
                      <mat-select required>
                        <mat-option>-- None --</mat-option>
                        <mat-option value="option">Option</mat-option>
                      </mat-select>
                      <mat-label><b> Region</b></mat-label>
                    </mat-form-field>
                  </div>
                  <div class="form-group form-custom">
                    <mat-form-field class="example-full-width set-border">
                      <mat-select required>
                        <mat-option>-- None --</mat-option>
                        <mat-option value="option">Option</mat-option>
                      </mat-select>
                      <mat-label><b> City</b></mat-label>
                    </mat-form-field>
                  </div>
                </form>
              </div>
              <div class="mb-2">
                <h6 class="text-uppercase">Private Profile</h6>
                <form class="form-border">
                  <div class="form-group form-custom">
                    <mat-form-field class="example-full-width set-border">
                      <input matInput placeholder="Enter Your Username" error-set>
                    </mat-form-field>
                  </div>
                  <div class="form-group form-custom">
                    <mat-form-field class="example-full-width set-border">
                      <input matInput placeholder="Enter Your Firstname" error-set>
                    </mat-form-field>
                  </div>
                  <div class="form-group form-custom">
                    <mat-form-field class="example-full-width set-border">
                      <mat-select required>
                        <mat-option>-- None --</mat-option>
                        <mat-option value="option">Option</mat-option>
                      </mat-select>
                      <mat-label><b> City</b></mat-label>
                    </mat-form-field>
                  </div>
                </form>
              </div>
              <div class="row">
                <div class="form-group text-center col-sm-12">
                  <button mat-raised-button color="primary">Send</button>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Change Password">
          <ng-template ngbTabContent>
            <div class="common-form">
              <h5 class="text-uppercase text-password text-center m-5">change password</h5>
              <div class="mb-2">
                <form class="form-border">
                  <div class="form-group form-custom">
                    <mat-form-field class="example-full-width set-border">
                      <input matInput placeholder="Current Password" error-set>
                    </mat-form-field>
                  </div>
                  <div class="form-group form-custom">
                    <mat-form-field class="example-full-width set-border">
                      <input matInput placeholder="New Password" error-set>
                    </mat-form-field>
                  </div>
                  <div class="form-group form-custom">
                    <mat-form-field class="example-full-width set-border">
                      <input matInput placeholder="Confirm Password" error-set>
                    </mat-form-field>
                  </div>
                </form>
              </div>
              <div class="row">
                <div class="form-group text-center col-sm-12">
                  <button mat-raised-button color="primary">Reset</button>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Notification Settings">
          <ng-template ngbTabContent>
            <div class="common-form">
              <h5 class="text-uppercase text-notify text-center m-5">Notification Settings</h5>
              <div class="mb-2">
                <form class="form-border">
                  <h5 class="mb-5">Email Notifications</h5>
                  <div class="form-group form-custom">
                    <mat-checkbox>Success Listing</mat-checkbox>
                  </div>
                  <div class="form-group form-custom">
                    <mat-checkbox>Success Listing</mat-checkbox>
                  </div>
                  <div class="form-group form-custom">
                    <mat-checkbox>Success Listing</mat-checkbox>
                  </div>
                  <div class="form-group form-custom">
                    <mat-checkbox>Success Listing</mat-checkbox>
                  </div>
                  <div class="form-group form-custom">
                    <mat-checkbox>Success Listing</mat-checkbox>
                  </div>
                </form>
              </div>
              <div class="mb-2">
                <form class="form-border">
                  <h5>Push Notifications</h5>
                  <div class="form-group form-custom">
                    <mat-checkbox>Success Listing</mat-checkbox>
                  </div>
                  <div class="form-group form-custom">
                    <mat-checkbox>Success Listing</mat-checkbox>
                  </div>
                  <div class="form-group form-custom">
                    <mat-checkbox>Success Listing</mat-checkbox>
                  </div>
                  <div class="form-group form-custom">
                    <mat-checkbox>Success Listing</mat-checkbox>
                  </div>
                  <div class="form-group form-custom">
                    <mat-checkbox>Success Listing</mat-checkbox>
                  </div>
                </form>
              </div>
              <div class="row">
                <div class="form-group text-center col-sm-12">
                  <button mat-raised-button color="primary">Save</button>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Data & Privacy Settings">
          <ng-template ngbTabContent>
            <div class="common-form">
              <h5 class="text-uppercase text-privacy text-center m-5">Data & Privacy Settings</h5>
              <div class="mb-2">
                <form class="form-border">
                  <h5 class="mb-5">Privacy Preferences</h5>
                  <p>Carousell may share information that do not constitute personal data with our our advertising and
                    analytics partners. This contributes to Carousell’s business sustainability in the long run, so that
                    we can keep our basic features free for all users. Thank you for your support. More info</p>
                  <div class="form-group form-custom">
                    <mat-checkbox>Success Listing</mat-checkbox>
                  </div>
                  <div class="form-group form-custom">
                    <mat-checkbox>Success Listing</mat-checkbox>
                  </div>
                  <div class="form-group form-custom">
                    <mat-checkbox>Success Listing</mat-checkbox>
                  </div>
                </form>
              </div>
              <div class="mb-2">
                <form class="form-border">
                  <h6>Advertising Preferences</h6>
                  <p>If you turn off the settings below, you'll still see the same number of ads, but they may be less
                    relevant to you.</p>
                  <div class="form-group form-custom">
                    <mat-checkbox>Success Listing</mat-checkbox>
                  </div>
                  <p>Carousell may use your information to serve you more relevant content. More info</p>
                  <h6 class="text-primary">Manage Cookies on Carousell web</h6>
                </form>
              </div>
              <div class="mb-2">
                <form class="form-border">
                  <h6>Survey Preferences</h6>
                  <div class="form-group form-custom">
                    <mat-checkbox>Participate in external surveys</mat-checkbox>
                  </div>
                </form>
              </div>

              <div class="row">
                <div class="form-group text-center col-sm-12">
                  <button mat-raised-button color="primary">Save</button>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="More">
          <ng-template ngbTabContent>
            <div class="common-form">
              <h5 class="text-uppercase text-notify text-center m-5">More</h5>
              <div class="mb-2">
                <form class="form-border">
                  <h5>Reserve item</h5>
                  <div class="form-group form-custom">
                    <h5 class="mb-5">Auto-reserve items</h5>
                    <mat-checkbox>We mark an item as reserved when you accepted an offer</mat-checkbox>
                  </div>
                </form>
              </div>
              <div class="row">
                <div class="form-group text-center col-sm-12">
                  <button mat-raised-button color="primary">Save</button>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</section>
