/* You can add global styles to this file, and also import other style files */

/*PLUGINS*/
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "node_modules/ngx-toastr/toastr.css";
/*PLUGINS*/

/*Common Style*/

$font-stack: "Archivo", sans-serif !important;
//  $font-stack: 'Montserrat', sans-serif;

body {
  font-family: $font-stack;
}

$primary-color: #f83c3c !important;
/*Spacing*/
.pad-50 {
  padding: 50px 0;
}

.pad-15 {
  padding: 15px 0;
}

.pad-30 {
  padding: 30px 0;
}

.pad-t50 {
  padding: 50px 0 0 0;
}

.pad-0 {
  padding: 0;
}

.white-banner {
  background: #efefef;
}

.white-bacground {
  background: #ffff;
}
.loader {
  width: 50%;
  display: block;
  margin: 0px auto;
}
.sub-heading {
  color: #777777;
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 0;
  position: relative;
}
/* -- Animated hr -- */

.progressd {
  top: 35%;
  height: 2px;
  overflow: hidden;
  position: relative;
  margin: 5px 0px;
  background: #ffffff;
}

.progressd::before {
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-name: progressd;
  background: #ff000a;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100px;
}

@keyframes progressd {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(1440px);
  }
}
.red-btn {
  background: transparent;
  color: #f83c3c;
  border: 2px solid #f83c3c;
  font-weight: 600;
  padding: 0px 20px;
  font-size: 14px;
  border-radius: 0px;
  margin: 10px 0px;

  &:hover,
  :focus,
  :active {
    background: #f83c3c;
    color: #fff;
    border: 2px solid #f83c3c;
    font-weight: 600;
    box-shadow: none;
  }
}

.accordion .card {
  border-radius: 0px;

  .card-header {
    padding: 5px;
    margin-bottom: 0;
    background: #ffffff;
    border-radius: 0px;
  }

  .card-body {
    padding: 0px;

    .list-group-item {
      border-radius: 0px;
      border: 1px solid rgba(0, 0, 0, 0.04);
      font-size: 14px;
      font-weight: 600;
      color: #848484;
    }

    label {
      font-size: 12px;
    }

    input[type="radio"] {
      float: right !important;
    }

    input[type="checkbox"] {
      float: right !important;
    }

    .for-pad {
      padding: 10px;

      .set-control {
        border-radius: 0px;
        border: 1px solid rgba(0, 0, 0, 0.04) !important;
        color: #848484 !important;
      }
    }
  }

  .btn-link {
    color: #000;
    text-decoration: none;

    h5 {
      color: #848484;
      margin-bottom: 0px;
      font-weight: 700;
      font-size: 14px;
    }
  }
}

/*Spacing*/

/*Common Style*/

.owl-carousel button:focus {
  color: #f43a3a;
  outline: none !important;
}

.owl-carousel button:active {
  color: #f43a3a;
  outline: none !important;
}

.owl-carousel button:hover {
  color: #f43a3a;
  outline: none !important;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot:active {
  color: #f43a3a !important;
}

.owl-dots {
  text-align: center;
}

.login-signup {
  .nav-tabs .nav-item {
    margin-right: 5px;
  }

  .nav-tabs .nav-link {
    color: #fff;
    border: transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px 80px;
    font-weight: 600;
    background: #f8191a;
    text-align: center;
  }

  .nav-tabs .nav-link.active {
    color: #f83c3c;
    background-color: #ffffff;
  }

  .nav-tabs .nav-link:hover {
    color: #f83c3c;
    background-color: #ffffff;
  }

  .tab-content {
    border: transparent;
    border-top: transparent;
    padding: 20px;
    box-shadow: 1px 1px 20px #565656;
    background: #fff;
  }

  .nav .nav-tabs .justify-content-start {
    padding: 0px 45px;
  }
}

.product-detail {
  .nav-tabs .nav-item {
    margin-right: 5px !important;
  }

  .nav-tabs .nav-link {
    color: #3a3633 !important;
    border: 1px solid #ddd !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding: 5px 15px !important;
    font-weight: 600 !important;
    background: #fff !important;
  }

  .nav-tabs .nav-link.active {
    color: #ffffff !important;
    background-color: #f83c3c !important;
  }

  .nav-tabs .nav-link:hover {
    color: #ffffff !important;
    background-color: #f83c3c !important;
  }

  .tab-content {
    border: 1px solid #ddd !important;
    border-top: transparent !important;
    padding: 5px;
    box-shadow: 2px 2px 15px #b9b6b6 !important;
    background: #fff !important;
  }
}

.bt-fb {
  background-color: #3b5a9a;
  padding: 10px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 5px;
  border: none !important;

  &:hover,
  :active,
  :focus {
    background-color: #3b5a9a;
    box-shadow: none !important;
  }
}

.bt-tw {
  background-color: #1aa9e1;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  border: none !important;

  &:hover,
  :active,
  :focus {
    background-color: #1aa9e1;
    box-shadow: none !important;
  }
}

.form-error {
  border: 1px solid #f83c3c !important;
  border-radius: 0px !important;
}

.err {
  color: #f83c3c !important;
  margin-bottom: 10px !important;
}

.custom-pagination {
  text-align: -webkit-right;

  .page-link {
    padding: 0px 10px;
    margin-left: -1px;
    line-height: 1.25;
    color: #f8191a;
    background-color: #fff;
    border: 1px solid #f8191a;
  }

  .page-item.disabled .page-link {
    color: #ffffff;
    pointer-events: none;
    cursor: pointer;
    background-color: #ff4949;
    border-radius: 0px;
    border-color: #f8191a;
  }

  .page-link:hover {
    z-index: 2;
    color: #ffffff;
    text-decoration: none;
    background-color: #f8191a;
    border-color: #f8191a;
    box-shadow: none;
  }

  .page-link:focus {
    z-index: 1;
    color: #fff;
    background-color: #f8191a;
    border-color: #f8191a;
    box-shadow: none;
  }

  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #f8191a;
    border-color: #f8191a;
    box-shadow: none;
  }
}

.show-right {
  .nav {
    //border: 1px solid #ddd;
  }

  .nav-item {
    border: 1px solid #ddd;
  }

  .nav-pills .nav-link {
    font-weight: 600;
    min-width: 175px !important;
    min-height: 65px !important;
    border-radius: 0px !important;
    text-align: center !important;
    padding: 5px !important;

    p {
      margin-bottom: 0px;
    }
  }

  .nav-pills .nav-link.active {
    background-color: #d02229 !important;
  }

  .nav-pills .nav-link:hover {
    color: #fff;
    background-color: #d02229 !important;
  }
}

.show-right2 {
  .nav-pills .nav-link {
    min-width: 112px;
    font-weight: 600;
    border-radius: 0px !important;
    text-align: center !important;
    padding: 5px !important;
    transition: 0.3s;

    p {
      margin-bottom: 0px;
    }
    img {
      transition: 0.2s;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .nav-pills .nav-link.active {
    background-color: #d2232a;
  }

  .nav-pills .nav-link:hover {
    color: #fff;
    background-color: #d2232a;
    transform: scale(1.1);
  }
}

.show-right3 {
  .btn-group {
    .btn-outline-dark {
      min-width: 180px !important;
      padding: 5px !important;
      border-radius: 0px !important;
      border-color: #dddddd !important;
      &:hover {
        background-color: #33a0e8;
      }
      &:focus {
        background-color: #33a0e8;
        box-shadow: none !important;
      }
      &:active {
        background-color: #33a0e8;
      }
    }
  }
}

.bt-fb {
  background-color: #3b5a9a;
  padding: 10px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 10px;

  &:hover,
  :active,
  :focus {
    background-color: #3b5a9a;
    box-shadow: none !important;
  }
}

.bt-tw {
  background-color: #1aa9e1;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;

  &:hover,
  :active,
  :focus {
    background-color: #1aa9e1;
    box-shadow: none !important;
  }
}

.bt-gog {
  background-color: #f6453d;
  padding: 10px;
  font-size: 13px !important;
  font-weight: 600;
  border-radius: 5px;
  border: none !important;

  &:hover,
  :active,
  :focus {
    background-color: #f6453d;
    box-shadow: none !important;
  }
}
.custom-select {
  font-size: 13px;
  border-radius: 5px;
}
.modal-content {
  border-radius: 5px;
  h6,
  p,
  a {
    font-size: 13px;
  }
  .input-group-text {
    font-size: 13px;
  }
}
.modal-header {
  border-bottom: none;
}
.modal-body {
  padding: 25px;
  a {
    display: block;
    text-align: center;
  }
}
.modal.show .modal-dialog {
  .main-logo {
    height: 40px;
    display: block;
    margin: 10px auto;
  }

  .form-control {
    padding: 5px 15px;
    font-size: 13px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .verify-box {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }

  .set-primary {
    font-size: 13px;
    padding: 10px;
    border-radius: 5px;
  }
}
.verify-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.deft-btn {
  padding: 5px 40px;
  border-radius: 10px;
}

.set-hov {
  &:hover {
    color: #d2232a !important;
  }
}
.trend-business {
  .owl-theme .owl-nav {
    position: relative;
    bottom: 9rem;
    .owl-prev {
      position: absolute;
      left: 0px;
      color: #fff;
      margin: 5px;
      font-size: 30px;
      padding: 7px 7px;
      background: #0a0a0a7d;
      cursor: pointer;
      border-radius: 0px;
      &:hover {
        color: #fff;
        background: #0a0a0a7d;
      }
    }
    .owl-next {
      position: absolute;
      right: 0px;
      color: #fff;
      margin: 5px;
      font-size: 30px;
      padding: 7px 7px;
      display: inline-block;
      background: #0a0a0a7d;
      cursor: pointer;
      border-radius: 0px;
      &:hover {
        color: #fff;
        background: #0a0a0a7d;
      }
    }
  }
}
.sub-banner1 {
  .owl-theme .owl-nav {
    position: relative;
    bottom: 14rem;
    .owl-prev {
      position: absolute;
      left: 0px;
      color: #fff;
      margin: 5px;
      font-size: 30px;
      padding: 10px 15px;
      background: #0a0a0a7d;
      cursor: pointer;
      border-radius: 0px;
      &:hover {
        color: #fff;
        background: #0a0a0a7d;
      }
    }
    .owl-next {
      position: absolute;
      right: 0px;
      color: #fff;
      margin: 5px;
      font-size: 30px;
      padding: 10px 15px;
      display: inline-block;
      background: #0a0a0a7d;
      cursor: pointer;
      border-radius: 0px;
      &:hover {
        color: #fff;
        background: #0a0a0a7d;
      }
    }
  }
}

.sub-banner2 {
  .owl-theme .owl-nav {
    position: relative;
    bottom: 6.5rem;
    .owl-prev {
      position: absolute;
      left: 0px;
      margin: 3px;
      font-size: 25px;
      padding: 2px 5px;
      color: #fff;
      background: #0a0a0a7d;
      cursor: pointer;
      border-radius: 0px;
      &:hover {
        color: #fff;
        background: #0a0a0a7d;
      }
    }
    .owl-next {
      position: absolute;
      right: 0px;
      color: #fff;
      margin: 3px;
      font-size: 25px;
      padding: 2px 5px;
      background: #0a0a0a7d;
      cursor: pointer;
      border-radius: 0px;
      &:hover {
        color: #fff;
        background: #0a0a0a7d;
      }
    }
  }
}

.sub-banner3 {
  .owl-theme .owl-nav {
    position: relative;
    bottom: 9rem;
    .owl-prev {
      position: absolute;
      left: 0px;
      color: #fff;
      margin: 3px;
      font-size: 25px;
      padding: 2px 5px;
      background: #0a0a0a7d;
      cursor: pointer;
      border-radius: 0px;
      &:hover {
        color: #00000003;
        background: #4a4848a6;
      }
    }
    .owl-next {
      position: absolute;
      right: 0px;
      color: #fff;
      margin: 3px;
      font-size: 25px;
      padding: 2px 5px;
      background: #0a0a0a7d;
      cursor: pointer;
      border-radius: 0px;
      &:hover {
        color: #fff;
        background: #4a4848a6;
      }
    }
  }
}

/* START:CUSTOM SCSS*/

.ngx-gallery-image.ngx-gallery-active {
  z-index: 998 !important;
}

.for-border {
  border: 1px solid red !important;
}
.go-back {
  .set-fa {
    background: #ffff;
    position: relative;
    right: 4%;
    width: 6%;
    color: #d2232a;
    font-size: 22px;
    text-align: center;
    box-shadow: 1px 4px 5px #ddd;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 10px;
    z-index: 99;
  }
}
.custom-class {
  position: fixed;
  background: #d2232a;
  border: none;
  opacity: 1;
  height: 40px;
  border-radius: 3px;
  width: 35px;
  padding: 0px 5px;
  bottom: 5%;
  right: 45px;
  opacity: 1 !important;
  &:focus {
    outline: none !important;
  }
  &:hover {
    cursor: pointer;
  }
  &:before {
    content: "\f077";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 20px;
    left: 0;
  }
}
#mat-edited {
  .set-border {
    width: 390px !important;
  }
  .mat-input-element {
    color: #ffffff !important;
  }
  .mat-form-field-appearance-legacy .mat-form-field-label {
    font-size: 14px !important;
    color: #ffffff !important;
  }
  .mat-form-field .mat-focused .mat-form-field-label {
    color: #ffffff !important;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgb(255, 255, 255) !important;
    &:focus {
      background-color: rgb(255, 255, 255) !important;
    }
  }
  .mat-radio-group {
    padding-top: 15px !important;
  }
}
#set-radio {
  .mat-radio-outer-circle {
    border-color: #6179ff !important;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #6179ff !important;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #6179ff !important;
  }
  .mat-radio-label {
    margin-bottom: 0px;
    padding-top: 20px;
  }
}
.profile-close {
  width: 8% !important;
  padding: 10px !important;
  position: absolute !important;
  left: 99% !important;
  background: #fff !important;
  opacity: 1 !important;
  color: #af151a !important;
}
.otp-head {
  color: #6f6d6d;
  text-align: center;
}
.otp-para {
  text-align: center;
  color: #6f6d6d;
  font-weight: 700;
}
.popup-show {
  display: block;
  width: 100%;
  background: #39b54ae3;
  color: #fff;
  text-align: center;
  font-weight: 600;
  position: fixed;
  padding: 15px 0px;
  bottom: 0px;
  z-index: 999;
  transition: 0.9s;
}
.popup-failed {
  @extend .popup-show;
  background: #d2232a;
}
.popup-info {
  @extend .popup-show;
  background: #38c6d9;
}

@keyframes progressd {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(1440px);
  }
}
#setting-tab {
  .justify-content-start {
    margin-bottom: 1.5rem !important;
    box-shadow: 3px 3px 10px #bfbebe;
  }
  .nav-tabs .nav-link {
    padding: 10px 22px;
    min-width: 13.8rem;
    text-align: center;
    border-radius: 0px;
    font-weight: 600;
    color: #d2232a;
    background-color: #fff;
    transition: 0.5s;
    border-color: #ffffff #ffffff #fff;
    &:hover,
    :focus {
      font-weight: 600;
      border-bottom: 2px solid #c32027;
    }
  }
  .nav-tabs .nav-link.active {
    border-bottom: 2px solid #c32027;
  }
}
/* END:CUSTOM SCSS*/

/* START:MEDIA QUERY*/
@media (min-width: 320px) and (max-width: 480px) {
  .sub-banner1 {
    .owl-theme {
      .owl-nav {
        .owl-prev {
          top: 105px !important;
          font-size: 24px !important;
          padding: 10px !important;
        }
        .owl-next {
          top: 105px !important;
          font-size: 24px !important;
          padding: 10px !important;
        }
      }
    }
  }
  .trend-business {
    .owl-theme {
      .owl-nav {
        .owl-prev {
          top: -25px !important;
        }
        .owl-next {
          top: -25px !important;
        }
      }
    }
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .sub-banner1 {
    .owl-theme {
      .owl-nav {
        .owl-prev {
          top: 60px !important;
          font-size: 24px !important;
          padding: 10px !important;
        }
        .owl-next {
          top: 60px !important;
          font-size: 24px !important;
          padding: 10px !important;
        }
      }
    }
  }
  .sub-banner2 {
    .owl-theme {
      .owl-nav {
        .owl-prev {
          bottom: 12px;
        }
        .owl-next {
          bottom: 12px;
        }
      }
    }
  }
  .sub-banner3 {
    .owl-theme {
      .owl-nav {
        .owl-prev {
          bottom: 35px;
        }
        .owl-next {
          bottom: 35px;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sub-banner1 {
    .owl-theme {
      .owl-nav {
        .owl-prev {
          top: 70px !important;
          padding: 10px !important;
        }
        .owl-next {
          top: 70px !important;
          padding: 10px !important;
        }
      }
    }
  }
  .sub-banner2 {
    .owl-theme {
      .owl-nav {
        .owl-prev {
          top: 25px;
        }
        .owl-next {
          top: 25px;
        }
      }
    }
  }
  .sub-banner3 {
    .owl-theme {
      .owl-nav {
        .owl-prev {
          top: 40px;
        }
        .owl-next {
          top: 40px;
        }
      }
    }
  }
  .accordion {
    .card {
      .card-header {
        padding: 0px;
      }
      .btn-link {
        h5 {
          font-size: 11px;
        }
      }
    }
  }
}
/* END:MEDIA QUERY*/
.show-right-md {
  .nav-pills .nav-link {
    &:active {
      width: 91px !important;
      border-radius: 0px !important;
      text-align: center !important;
      padding: 0px !important;
      background-color: #007bff !important;
    }
  }
  .nav {
    //border: 1px solid #ddd;
  }

  .nav-item {
    border: 1px solid #c9ced6dd;
    background-color: #edf0f7;
  }

  .nav-pills .nav-link {
    font-weight: 700;
    min-width: 91px !important;
    border-radius: 0px !important;
    text-align: center !important;
    padding: 0px !important;
    color: #000;
    font-size: 16px;

    p {
      margin-bottom: 0px;
    }
  }

  .nav-pills .nav-link.active {
    color: #fff;
    background-color: #4b4d52 !important;
  }

  .nav-pills .nav-link:hover {
    color: #fff;
    background-color: #4b4d52 !important;
  }
}
#filter-set {
  .accordion .card .card-body .list-group-item {
    padding: 10px;
  }
  .mat-radio-label {
    margin-bottom: 20px;
  }
  .mat-radio-label-content.mat-radio-label-before {
    width: 125px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    padding-left: 8px !important;
    padding-right: 0px !important;
    font-weight: 500 !important;
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #d2232a !important;
  }
  .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #d2232a !important;
  }
  .mat-width-ctm2 {
    width: 150px !important;
  }
  .mat-width-ctm {
    padding: 5px 15px;
  }
}

$bubble-d: 4.5rem; // bubble diameter
$bubble-r: 0.5 * $bubble-d; // bubble-radius

@mixin bubble($ext) {
  transform: scale(1);
  border-color: #cc8ef5;
  border-width: $ext;
}

[id="toggle-heart"] {
  position: absolute !important;
  left: -100vw !important;

  &:checked + label {
    color: #e2264d !important;
    will-change: font-size !important;
    animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49) !important;

    &:before,
    &:after {
      animation: inherit !important;
      animation-timing-function: cubic-bezier(0.21, 0.61, 0.35, 1) !important;
    }

    &:before {
      will-change: transform, border-width, border-color !important;
      animation-name: bubble !important;
    }
  }
}

[for="toggle-heart"] {
  align-self: center !important;
  position: relative !important;
  color: #aab8c2 !important;
  font-size: 1.3em !important;
  cursor: pointer !important;
  margin: 2px !important;
    top: 2px !important;

  &:before,
  &:after {
    position: absolute !important;
    z-index: -1 !important;
    top: 50%;
    left: 50% !important;
    border-radius: 50% !important;
    content: "" !important;
  }

  &:before {
    box-sizing: border-box !important;
    margin: -$bubble-r !important;
    border: solid $bubble-r #e2264d !important;
    width: $bubble-d;
    height: $bubble-d !important;
    transform: scale(0) !important;
  }
}

@keyframes heart {
  0%,
  17.5% {
    font-size: 0 !important;
  }
}

@keyframes bubble {
  15% {
    @include bubble($bubble-r);
  }
  30%,
  100% {
    @include bubble(0);
  }
}
